<header>
    <nav>
        <a href="/">Movies.com</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new"></a>Add Authors</li>
        </ul>
    </nav>
</header>
