<header>
    <nav>
        <a href="/">Movies.com</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authros/new"></a>Add Authors</li>
            <!-- <li><a href=""></a></li>
            <li><a href=""></a></li> -->
        </ul>
    </nav>
</header>
